@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
                                 /* deixar tudo em letra maiuscula >> text-transform: uppercase;*/

header > p{
    padding-bottom: 50px;
    font-weight: lighter;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    white-space: pre-line;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagem >p{
    background-color: rgba(0, 0, 0, 0.384);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > a:hover{
    color: rgba(245, 245, 245, 0.534);
}