@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --font-verdana: Verdana, Geneva, Tahoma, sans-serif;
    --font-passion: "Passion One", sans-serif;
    --font-sri: "Sriracha", "cursive";
}
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-verdana);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font-passion);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3.5em;
}
                                 /* deixar tudo em letra maiuscula >> text-transform: uppercase;*/

header > p{
    padding-bottom: 50px;
    font-weight: lighter;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font-sri);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    white-space: pre-line;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagem >p{
    background-color: rgba(0, 0, 0, 0.384);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > a:hover{
    color: rgba(245, 245, 245, 0.534);
}