@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    .height: 100%;
}
body {
    background-image: linear-gradient(to right,#008F8C,#015958);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #003636c9;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#023535 ;
    text-align: center;
    text-shadow: 3px 3px 0px #011a1a33;
}
h2{
    color: #015958;
}
p {
    text-align: justify;
}