body {
    background-color: rgb(226, 218, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(77, 74, 74);
}
h1{
    color: rgb(12, 54, 54);
}

h2 {
    color: rgb(3, 116, 116);
}
