@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url(../fontes/idroid.otf) format("opentype");

}
*{
    margin: 0%;
    padding: 0%;
}

/*
#BACDD9
#516D73
#2F403E
#425944
#032612
*/

:root{
    --color1:#BACDD9;
    --color2:#516D73;
    --color3:#2F403E;
    --color4:#425944;
    --color5:#032612;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android:  "android", "cursive";


}

body{
    background-color: var(--color1);
}
header {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    margin: auto;
    padding: 50px 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

header h1{
    text-align: center;
    font-family:var(--font-destaque);
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
    font-weight: normal;
    min-height: 60px;
}

header p{
    font-family: var(--font-padrao);
    margin: auto;
    text-align: center;
    max-width: 500px;
    color: white;
    font-weight: normal;
    padding-top: 1em;
    font-size: 1em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}
nav{
    background-color: var(--color2);
    padding-left: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.377);
}
nav > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    font-size: 14px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

nav >a:hover{
    background-color: #bacdd970;
    color: #2e4044;
    text-decoration: underline;
}
main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    min-width: 300px;
    max-width: 1000px;
}

main h2{
    font-family: var(--font-android);
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
    background-image:linear-gradient(to right,var(--color2), var(--color1), transparent);
    border-radius: 8px;
    text-indent: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main h3{
    font-family: var(--font-android);
    font-size: 1.4em;
    color: var(--color3);
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.089);
    background-image:linear-gradient(to left,var(--color2), var(--color1), transparent);
    border-radius: 8px;
    text-indent: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main p{
    font-family: var(--font-padrao);
    text-indent: 30px;
    text-align: justify;
    line-height: 1.6em;
    font-size: 1em;
    margin: 15px 0px 15px 0px;
    font-size: 1em;

}

main img.pequena{
    max-width: 350px;
    display: block;
}

div.video{
    background-color: var(--color3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}
div.video iframe{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}

aside{
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.377);
}
aside h2{
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
aside > ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--color3);
    color: white;
    text-align: center;
    margin: auto;
    padding:10px;
}